name: Infrastructure Deployment

on: [ workflow_dispatch ]

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        name: Checkout
        with:
          fetch-depth: 1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.7

      - name: Install Kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: latest

      - name: Install Kops
        run: |
          sudo wget -q -O /bin/kops "https://github.com/kubernetes/kops/releases/download/$(curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f 4)/kops-linux-amd64"
          sudo chmod +x /bin/kops

      - name: View versions of tools
        run: |
          terraform version
          kubectl version --client
          kops version
          aws --version

      - name: Kops import cluster via manifest
        run: |
          export KOPS_STATE_STORE=$(cat kops/k8s.shadowinc.xyz.yaml | grep configBase | awk '{print $2}')
          kops replace --force -f kops/k8s.shadowinc.xyz.yaml

      - name: Kops create kubeconfig
        run: |
          export KOPS_STATE_STORE=$(cat kops/k8s.shadowinc.xyz.yaml | grep configBase | awk '{print $2}')
          kops export kubeconfig --state $KOPS_STATE_STORE --name k8s.shadowinc.xyz --admin

      - name: Kops validate cluster
        run: |
          export KOPS_STATE_STORE=$(cat kops/k8s.shadowinc.xyz.yaml | grep configBase | awk '{print $2}')
          kops validate cluster --state $KOPS_STATE_STORE --name k8s.shadowinc.xyz

      - name: Kops update cluster dry-run
        run: |
          export KOPS_STATE_STORE=$(cat kops/k8s.shadowinc.xyz.yaml | grep configBase | awk '{print $2}')
          kops update cluster --state $KOPS_STATE_STORE --name k8s.shadowinc.xyz

      - name: Kops rolling update dry-run
        run: |
          export KOPS_STATE_STORE=$(cat kops/k8s.shadowinc.xyz.yaml | grep configBase | awk '{print $2}')
          kops rolling-update cluster --state $KOPS_STATE_STORE --name k8s.shadowinc.xyz

      - name: Terraform init
        run: |
          cd terraform
          terraform init

      - name: Terraform validate
        run: |
          cd terraform
          terraform validate

      - name: Terraform plan
        run: |
          cd terraform
          terraform plan

      - name: Terraform apply
        run: |
          cd terraform
          terraform apply -auto-approve

      - name: Apply k8s manifests
        run: |
          kubectl apply -f k8s/ingress-nginx
          kubectl apply -f k8s/manifests-application
          kubectl apply -f k8s/manifests-logging
          kubectl apply -f k8s/manifests-monitoring